*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    margin:24px auto;
    max-width:600px;
    display:flex;
    flex-wrap:wrap;
    height:100vh;
    border:40px solid black;
}

.boxNav{
    margin:12px 12px 0px 12px; 
    width:100%;
}

.boxNav nav{
    display:flex;
    width:100%;
    overflow: hidden;
    background:purple;
    height:calc(10vh - 20px);
    padding:15px;
}

.boxNav nav li{
    width:100%;
    list-style: none;
    font-size:20px;
    color:white;
    line-height:25px;
}

.box1{
    width:44%;
    height:25%;
    background:#F0BB62;
    margin:12px;
}

.logo{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    transform: rotate(180deg);
    width:100px;
    height:100px;
}

.input{
    display:none;
}

.box2{
    width:44%;
    height:25%;
    background:rgb(8, 177, 106);
    margin:12px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.splits{
    display:none;
}


.logo2{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo2 img{
    width:100px;
    height:100px;
}

.box3{
    width:44%;
    height:25%;
    background:rgb(150, 148, 148);
    margin:12px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo3{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo3 img{
    width:100px;
    height:100px;
}

.contacts{
    display:none;
}

.box4{
    width:44%;
    height:25%;
    background:rgb(65, 119, 114);
    margin:12px;
}

.logo4{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo4 img{
    width:100px;
    height:100px;
}

.box6{
    width:44%;
    height:25%;
    background:turquoise;
    margin:12px;
}

.logo6{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo6 img{
    width:100px;
    height:100px;
}

.box7{
    width:44%;
    height:25%;
    background:turquoise;
    margin:12px;
}

.logo7{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo7 img{
    width:100px;
    height:100px;
}
.box8{
    width:44%;
    height:20vh;
    background:turquoise;
    margin:12px;
    display:none;
}
.logo8{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo8 img{
    width:100px;
    height:100px;
}
.box9{
    width:44%;
    height:20vh;
    background:turquoise;
    margin:12px;
    display:none;
}
.logo9{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo9 img{
    width:100px;
    height:100px;
}
.box10{
    width:44%;
    height:20vh;
    background:turquoise;
    margin:12px;
    display:none;
}
.logo10{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo10 img{
    width:100px;
    height:100px;
}



























@Media (min-width:600px){
    .container{
        max-width:982px;
        border:20px solid black;
    }
    .boxNav nav{
        height:20vh;
        line-height:50px;
    }
    .boxNav nav li{
        height:20vh;
        line-height:100px;
        text-align: center;
    }
    .box1{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }
    .box2{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
     }
    .box3{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }
    .box4{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
        
    }
    
    .box6{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }
    .box7{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }
    .box8{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }
    .box9{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }
    .box10{
        width: 30%;
        height: 22vh;
        margin: auto;
        display: block;
    }

}




@media (min-width:900px){
    .container{
        max-width:1200px;
        margin:0 auto;
        border:none;
    }
    .boxNav nav{
        display:flex;
        width:100%;
        overflow: hidden;
        background:purple;
        height:10vh;
        padding:15px;
        border-radius:10px;
    }
    .boxNav nav li{
        width:100%;
        list-style: none;
        font-size:20px;
        color:white;
        line-height:50px;
    }

    .box1{
        height:55%;
        width:30%;
        display:flex;
        flex-direction:column;
        background:crimson;
    }
    .logo{
        display:none;
    }

    .input{
        display:flex;
        flex-direction:column;
        align-items: center;
        height:100%;
        padding:20px;
    }

    .input h3{
        margin-top:50px;
        margin-bottom:25px;
        color:White;
        font-size:30px;
    }

    .input form{
        display:flex;
        flex-direction:column;
        height:100%;
        justify-content:space-around;
        
    }

    .input form button{
        padding:15px;
        background:black;
        color:white;
    }


    .input form input{
        transform:scale(1.5);
    }

    .agree{
        color:white;
        text-align:center;
    }
    .agree input{
        margin-left:5px;
    }
    

    .box2{
        height:55%;
        width:65%;
        display:flex;
        flex-direction: column;
        background:none;
    }

    .logo2{
        display:none;
    }

    .splits{
        display:flex;
        flex-direction:column;
        width:100%;
        height:100%;
    }
    .boxSplit1{
        width:90%;
        background:yellow;
        height:45%;
        margin:auto;
        border-radius:20px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .boxSplit1 audio{
        width:80%;
    }
    .boxSplit2{
        display:flex;
        flex-direction:column;
        width:90%;
        background:rgb(65, 94, 187);
        height:45%;
        margin: auto;
        border-radius:20px;
    }

    .dashboard{
        display:flex;
        justify-content: start;
    }

    .dashboard h3{
        padding:20px;
        text-transform: uppercase;
        color:White;
    }

    .dashboardIcons{
        display:flex;
        width:100%;
        justify-content: space-around;
    }

    .dashboardIcons li{
        list-style: none;
        text-align: center;
    }
    .dashboardIcon {
        display:flex;
        flex-direction:column;
    }
    .dashboardIcon img{
        height: 75%;
    }

    .box3{
        height:30%;
        width:60%;
    }

    .contacts{
        display:flex;
    }

    .contactsFrm{
        display:flex;
        flex-direction:column;
        width:50%;
        padding: 15px 50px;
    }

    .contactsFrm form{
        display:flex;
        flex-direction:column;
    }
    .contactsFrm form input{
        margin:5px 0;
    }

    .text{
        width:50%;
        padding:25px;
        text-align: center;
    }

    
    

    .logo3{
        display:none;
    }
    .box4{
        height:30%;
        width:35%;
    }

    .logo4{
        display:none;
    }

    .box5{
        height:33%;
        width:40%;
        display:none;
    }
    .box6{
        height:33%;
        width:40%;
        display:none;
    }
    .box7{
        height:33%;
        width:40%;
        display:none;
    }
    .box8{
        height:33%;
        width:40%;
        display:none;
    }
    .box9{
        height:30%;
        width:40%;
        display:none;
    }
    .box10{
        height:30%;
        width:40%;
        display:none;
    }


    

    
}